blinker
click
colorama
dash
dash-bootstrap-components
dash-core-components
dash-html-components
dash-table
Flask
gunicorn
itsdangerous
Jinja2
MarkupSafe
numpy
packaging
pandas
patsy
plotly
python-dateutil
pytz
scipy
six
statsmodels
tenacity
tzdata
Werkzeug
